env
*.pyc
output/
data/
lm_cache
.idea
build
dist
*.egg-info
venv
.vscode/
temp
__pycache__
.ipynb_checkpoints
temp
# IPython
profile_default/
ipython_config.py
logs/
scripts/
wandb/
SimSun.ttf
submissions/
lmms_eval/tasks/hallusion_bench/hallusion_output_vs_model.json
lmms_eval/tasks/hallusion_bench/hallusion_output_vd_model.json
zk.log
cache_dir
ckpt
pretrained/
LLaVA/
*logs
LLaVA-NeXT/
*.sh
visual_pope/
img_out/
exact_script/
temp/
InternVL/
logs/
data/
llava-video/
Video-MME/
VATEX/
*.ipynb
logs_new/
logs_suit/
logs_suit_new/
logs_only/
logs_only_all/
logs_only_all_VD/
logs_only_bak/
logs_only_suit/
logs_only_suit_all/
logs_only_suit_new/
logs_only_suit_VD/
ML-A100/
static_figs/
static_result/
temp_res/
unit_test/
double_check/
vlms-bench-data/
vlms-bench-data-difficult/
vlms-bench-data-selected/
vlms-bench-data-selected_bak/
vlms-bench-data-selected-VD/
vlms-bench-data-selected-VD-bak/
vlms-bench-data-VD/
vlms-bench-data-jsonl/
logs_text_only_all/
logs_text_only_all_VD/
logs_text_only_bak/
logs_text_only_suit/
logs_text_only_suit_all/
logs_text_only_suit_new/
logs_text_only_VD/
logs_new/
logs_text_only/
hf_dataset/
gemini_flash/
*.zip
*.json
*.log
*.jpg
*.txt
*.pt
data_tmp/
logs_all/
db_save_img/
lmms_eval/tmp/
excel_result/
mlx_clip/
*.jsonl
*.whl
textonly_double_check/
textonly_ai2d/
text_only_VD/
exact_problem_case/
mlx_clip/
datasets_wild_new/
db_save_text_clip/
describe/
clip-vit-base-patch32/
ai2d_check/
lmms_eval/tasks/vatex/__pycache__/utils.cpython-310.pyc
