dataset_path: ./vlms-bench-data-selected-VD/ocrbench
dataset_kwargs:
  token: True
task: "ocrbench_suit_vd"
test_split: train
output_type: generate_until
doc_to_visual: !function utils.ocrbench_doc_to_visual
doc_to_text: !function utils.ocrbench_doc_to_text
doc_to_target: "answer"
generation_kwargs:
  max_new_tokens: 128
  temperature: 0
  top_p: 1.0
  num_beams: 1
  do_sample: false
process_results: !function utils.ocrbench_process_results
metric_list:
  - metric: ocrbench_accuracy
    aggregation: !function utils.ocrbench_aggregate_accuracy
    higher_is_better: true
metadata:
  - version: 0.0